.body
{
    background-color: blueviolet;

    font-family: "Berkshire Swash", serif;
  font-weight: 300;
  font-style: normal;
}
.btn-secondary{
    color:blueviolet;
    background-color: brown;
    border-color:white;

}



.footer
{
    height:50px;
    width:100%;
    position:fixed;
    background-color:white;
    left:0;
    bottom:0;
}
.form-control
{
    border:3px solid #f542c2;
}


